# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Archivos del entorno virtual
.venv/
venv/
.env/

# Archivos generados por PyInstaller
build/
dist/
*.spec
*.exe

# Archivos de log
*.log

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Archivos de configuración de editores
.vscode/
.idea/

# Archivos de pruebas temporales
*.bak
*.tmp

# Carpetas comunes para ejecutables o recursos externos
ejecutable/
output/